{% extends "base.html" %}
{% block title %}Messages{% endblock %}

{% block content %}
<h2 class="fw-semibold mb-4">Messages</h2>

<div class="figma-card p-4">

    {% for convo in conversations %}

        {% if convo.user1 == user %}
            {% with other=convo.user2 %}
                <a href="{% url 'message-thread' convo.id %}" class="d-block mb-2">
                    <strong>{{ other.username }}</strong>
                </a>
            {% endwith %}
        {% else %}
            {% with other=convo.user1 %}
                <a href="{% url 'message-thread' convo.id %}" class="d-block mb-2">
                    <strong>{{ other.username }}</strong>
                </a>
            {% endwith %}
        {% endif %}

    {% empty %}
        <p class="text-muted">No conversations yet.</p>
    {% endfor %}

</div>
{% endblock %}