{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}

<h3 class="fw-semibold mb-4">
    Chat with
    {% if conversation.user1 == user %}
        {{ conversation.user2.username }}
    {% else %}
        {{ conversation.user1.username }}
    {% endif %}
</h3>

<div class="figma-card p-4 mb-4" style="height: 300px; overflow-y: scroll;">
    {% for m in messaging %}
        <div class="mb-3">
            <strong>{{ m.sender.username }}:</strong> {{ m.text }}
            <div class="text-muted small">{{ m.timestamp }}</div>
        </div>
    {% endfor %}
</div>

<form method="POST">
    {% csrf_token %}
    <textarea name="text" class="figma-input w-100 mb-2" placeholder="Type a message..."></textarea>
    <button class="figma-add-btn w-100">Send</button>
</form>

{% endblock %}